.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to I18n.t('tabs.new_articles'), root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to I18n.t('tabs.timeline'), timeline_path 
